#name {
  color: white;
  width: 100%;
  padding-top: 24%;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 5rem;
  height: 100%;
  background: linear-gradient(to top, rgba(255,255,255,.3) 80%,rgba(255,255,255,0) 100%);
  /* background: rgba(255,255,255,.3); */
}
.sections {
  display: inline-block;
  padding: 0;
  padding-top: 6.5%;
  padding-bottom: 6.5%;
  margin: 0;
  width: 25%;
  text-align: center;
  color: white;
  border-top: 1px solid  rgba(255,255,255,.5);
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: .4rem;
}

.sections a {
  text-decoration: none;
  color: white;
}
.sections:hover a {
  color: rgba(255,255,255,0);
}
#github {
    background: url("./Assets/GitHubLogo.png") no-repeat;
    background-position: center;
    background-size: 0% 0%;
    opacity: 80%;
    margin-right: initial;
}
#linkedIn {
  background: url("./Assets/LinkedInLogo.png") no-repeat;
  background-position: center;
  background-size: 0% 0%;
  opacity: 80%;
  margin-right: initial;
}
#resume {
  background: url("./Assets/pdfLogo.png") no-repeat;
  background-position: center;
  background-size: 0% 0%;
  opacity: 80%;
  margin-right: initial;
}
#portfolio {
  background: url("./Assets/portfolioLogo.png") no-repeat;
  background-position: center;
  background-size: 0% 0%;
  opacity: 80%;
  margin-right: initial;
}
#github:hover, #linkedIn:hover, #portfolio:hover {
  background-size: 65% 85%;
  transition: .25s;
}
#resume:hover {
  background-size: 50% 85%;
  transition: .25s;
}
#section {
  width: 100%;
  margin: 0;
  padding: 0; 
}

/* Default Style */
/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
